#title {
    font-family: "Helvetica", sans-serif;
    display: flex;
    justify-content: space-between;
}

#nav{
    display: flex;
    justify-content: flex-end;
}

a.navlink{
    font-family: "Helvetica", sans-serif;
    font-size: 2em;
    font-weight: bold;

    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 10px;
    margin-right: 10px;
}

#toptext {
    font-family: "Helvetica", sans-serif;
    background-color: #dfeefa;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#topleft {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#topright {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.maintext{
    margin-top: 20px;
    font-family: "Helvetica", sans-serif;
    background-color: #faebdf;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.maintitle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div.paper{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
}

p.papertitle{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-weight: bold;
}

p.paperauthors{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

p.meeting-info{
    margin-right: 4px;
}

a.pset{
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}